@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Article 1</h1>
    <h1>Article 2</h1>
    <h1>Article 3</h1>
    <h1>Article 4</h1>
    <h1>Article 5</h1>
</div>
