@{
    ViewData["Title"] = "Login Page";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="~/css/login.css"/>
</head>
<body>

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Enter email address" required/>
                        <i class="uil uil-at"></i>
                    </div>

                    <div class="input-field">
                        <input type="text" placeholder="Enter password" required/>
                        <i class="uil uil-key-skeleton"></i>
                    </div>

                </form>
            </div>


        </div>
    </div>

</body>
</html>
